<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html lang="kr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eElectronics - Checkout</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
      <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

      <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
      <script src="https://cdn.iamport.kr/v1/iamport.js"></script>

    <!-- Google Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->

      <script>
          const hypenTel = (target) => {
              target.value = target.value
                  .replace(/[^0-9]/g, '')
                  .replace(/^(\d{2,3})(\d{3,4})(\d{4})$/, `$1-$2-$3`);
          }
          function checknullCart(){
              if([[${totalCnt}]]===0){
                  Swal.fire({
                      title: '장바구니가 비어있어요!',  // Alert 제목
                      text: '장바구니에 결제할 상품이 담겨있지 않습니다.',  // Alert 내용
                      icon: 'error', // Alert 타입
                      confirmButtonText: '확인', // Confirm 버튼의 텍스트
                      allowOutsideClick: false, // Alert 외부 클릭으로 닫히는 것 방지
                  }).then((result) => {
                      if (result.isConfirmed) {
                          window.history.go(-1); // 이전 페이지로 이동
                      }
                  });
              }
          }


          window.onload = function() {
              checknullCart();
              updateButtonFunction();

          }

          var IMP = window.IMP;
          IMP.init("imp46520764");


          function requestPay() {
              const buyerName = document.getElementById("billing_last_name").value;
              const buyerEmail = document.getElementById("billing_email").value;
              const buyer_tel = document.getElementById("billing_phone").value;
              const buyer_addDetail = document.getElementById("addr_detail").value;
              const buyer_postcode = document.getElementById("buyer_postcode").value;
              const buyer_addr = document.getElementById("billing_address_1").value;
              const amount= [[${totalPrice}]];


              IMP.request_pay(
                  {
                      pg: "kakaopay.TC0ONETIME",
                      merchant_uid: 'merchant_' + new Date().getTime(),
                      name: "테스트 상점",
                      amount: amount,
                      buyer_email: buyerEmail,
                      buyer_name: buyerName,
                      buyer_tel: buyer_tel,
                      buyer_addr: buyer_addr,

                  }, function (rsp) {
                      if (rsp.success) {

                          const paymentInfo = {
                              merchant_uid: rsp.merchant_uid,
                              name: rsp.name,
                              amount: amount,
                              buyer_email: rsp.buyer_email,
                              buyer_name: rsp.buyer_name,
                              buyer_tel: rsp.buyer_tel,
                              buyer_addr: rsp.buyer_addr,
                              buyer_addDetail:buyer_addDetail,
                              buyer_postcode: buyer_postcode,
                          };


                          $.ajax({
                              type: 'POST',
                              url: '/PaymentCheck',
                              data: JSON.stringify(paymentInfo),
                              contentType: 'application/json',
                              success : function(data) {
                                  Swal.fire({
                                      title: '결제가 완료되었어요!',
                                      text: '구매하신 건에 대한 결제가 완료되었습니다.',
                                      icon: 'success',
                                      confirmButtonText: '확인',
                                      allowOutsideClick: false,
                                  }).then((result) => {
                                      if (result.isConfirmed) {
                                          window.location.href="/orderlist/1";
                                      }
                                  });
                              },
                              error:function(request,status,error){
                                  alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                              }
                          });
                      } else {
                          Swal.fire({
                              title: '결제를 완료하지 못했어요',
                              text: '구매하신 건에 대한 결제가 실패했습니다. 다시 시도해주세요.',
                              icon: 'error',
                              confirmButtonText: '확인',
                              allowOutsideClick: false,
                          }).then((result) => {
                              if (result.isConfirmed) {
                              }
                          });
                      }
                  });
          }

          function requestPay2() {
              const buyerName2 = document.getElementById("different_name").value;
              const buyerEmail2 = document.getElementById("different_email").value;
              const buyer_tel2 = document.getElementById("different_tel").value;
              const buyer_addDetail2 = document.getElementById("addr_dtl").value;
              const buyer_postcode2 = document.getElementById("zip_code").value;
              const buyer_addr2 = document.getElementById("addr").value;
              const amount2= [[${totalPrice}]];


              if(buyerName2==null||buyerName2===''||buyerEmail2==null||buyerEmail2===''
              ||buyer_tel2==null||buyer_tel2===''||buyer_addDetail2==null||buyer_addDetail2===''||
                  buyer_addr2==null||buyer_addr2===''||buyer_postcode2==null||buyer_postcode2===''
              ){
                  Swal.fire({
                      title: '결제를 완료하지 못했어요',
                      text: '배송자 정보 입력 칸을 모두 채워주세요.',
                      icon: 'error',
                      confirmButtonText: '확인',
                      allowOutsideClick: false,
                  }).then((result) => {
                      if (result.isConfirmed) {
                      }
                  });

                  return;
              }



              IMP.request_pay(
                  {
                      pg: "kakaopay.TC0ONETIME",
                      merchant_uid: 'merchant_' + new Date().getTime(),
                      name: "테스트 상점",
                      amount: amount2,
                      buyer_email: buyerEmail2,
                      buyer_name: buyerName2,
                      buyer_tel: buyer_tel2,
                      buyer_addr: buyer_addr2,

                  }, function (rsp) {
                      if (rsp.success) {

                          const paymentInfo = {
                              merchant_uid: rsp.merchant_uid,
                              name: rsp.name,
                              amount: amount2,
                              buyer_email: rsp.buyer_email,
                              buyer_name: rsp.buyer_name,
                              buyer_tel: rsp.buyer_tel,
                              buyer_addr: rsp.buyer_addr,
                              buyer_addDetail:buyer_addDetail2,
                              buyer_postcode: buyer_postcode2,
                          };


                          $.ajax({
                              type: 'POST',
                              url: '/PaymentCheck',
                              data: JSON.stringify(paymentInfo),
                              contentType: 'application/json',
                              success : function(data) {
                                  Swal.fire({
                                      title: '결제가 완료되었어요!',  // Alert 제목
                                      text: '구매하신 건에 대한 결제가 완료되었습니다.',  // Alert 내용
                                      icon: 'success', // Alert 타입
                                      confirmButtonText: '확인', // Confirm 버튼의 텍스트
                                      allowOutsideClick: false, // Alert 외부 클릭으로 닫히는 것 방지
                                  }).then((result) => {
                                      if (result.isConfirmed) {
                                          window.location.href="/main";
                                      }
                                  });
                              },
                              error:function(request,status,error){
                                  alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                              }
                          });
                      } else {
                          Swal.fire({
                              title: '결제를 완료하지 못했어요',
                              text: '구매하신 건에 대한 결제가 실패했습니다. 다시 시도해주세요.',
                              icon: 'error',
                              confirmButtonText: '확인',
                              allowOutsideClick: false,
                          }).then((result) => {
                              if (result.isConfirmed) {
                              }
                          });
                      }
                  });
          }

          function updateButtonFunction() {
              const checkbox = document.getElementById("ship-to-different-address-checkbox");
              const button = document.getElementById("paymentButton");
              button.onclick = null;
              if (checkbox.checked) {
                  button.onclick = requestPay2;
              } else {
                  button.onclick = requestPay;
              }
          }
      </script>

  </head>
  <body>

  <div class="header-area">
      <div class="container">
          <div class="row">
              <div class="col-md-8">
                  <div class="user-menu">
                      <ul>

                          <div class="dropdown">
                              <li><a href="#"><i class="fa fa-user"></i> 마이 페이지 </a></li>
                              <div class="dropdown-content">
                                  <a href="/orderlist/1">주문 목록</a>
                                  <a href="/userInfo">회원 정보</a>
                              </div>
                          </div>

                          <li><a href="/cart"><i class="fa fa-user"></i> 나의 카트 </a></li>
                          <li><a href="/checkout"><i class="fa fa-user"></i> 즉시 결제 </a></li>
                          <li th:if="${islogin==null}"><a href="/login"><i class="fa fa-user"></i> 로그인 </a></li>
                          <li th:if="${islogin!=null}">
                              <form th:action="@{/logout}" method="post">
                                  <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                                  <button type="submit" style="border: none; background: transparent; color: #888888">
                                      <i class="fa fa-user"></i> 로그아웃
                                  </button>
                              </form>
                          </li>
                      </ul>
                  </div>
              </div>

          </div>
      </div>
  </div> <!-- End header area -->

  <div class="site-branding-area">
      <div class="container">
          <div class="row">
              <div class="col-sm-4">
                  <div class="logo">
                      <h1><a href="/main">e<span>Electronics</span></a></h1>
                  </div>
              </div>

              <div class="col-sm-4" >
                  <div class="mainsearch">
                      <form action="/searchResult" method="get">
                          <input type="text" name="keyword" placeholder="원하시는 상품을 검색해보세요." class="searchForm">
                          <input type="hidden" name="page" placeholder="Page" value="1">
                          <input type="submit" value="검색">
                      </form>
                  </div>
              </div>
              <th:block th:if="${islogin}!=null">
                  <div class="col-sm-4">
                      <div class="shopping-item">
                          <a href="/cart"> <span style="font-size: 14px"> 장바구니 </span> - <span class="cart-amunt" th:text="'￦'+${totalPrice2}"></span> <i class="fa fa-shopping-cart"></i> <span class="product-count" th:text="${totalCnt}"></span></a>
                      </div>
                  </div>
              </th:block>

          </div>
      </div>
  </div> <!-- End site branding area -->

  <div class="mainmenu-area">
      <div class="container">
          <div class="row">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
              </div>
              <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                      <li ><a href="/main">홈페이지</a></li>
                      <li><a href="/shop/1">상품 목록</a></li>
                      <li class="dropdown">
                          <a href="#">카테고리</a>
                          <div class="dropdown-content">
                              <a href="/category/Phone/1">휴대폰</a>
                              <a href="/category/Laptop/1">노트북</a>
                              <a href="/category/Tv/1">티비</a>
                              <a href="/category/Game/1">게임기기</a>
                          </div>
                      </li>
                      <li><a href="">상품 상세</a></li>
                      <li><a href="/cart">장바구니</a></li>
                      <li class="active"><a href="/checkout">즉시결제</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>  <!-- End mainmenu area -->
    
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>즉시결제</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">상품 검색</h2>
                        <form action="/searchResult" method="get">
                            <input type="text" name="keyword" placeholder="상품명, 혹은 카테고리를 입력해주세요.">
                            <input type="hidden" name="page" placeholder="Page" value="1">
                            <input type="submit" value="검색">
                        </form>
                    </div>

                    <div class="single-sidebar">
                        <h2 class="sidebar-title">최신 인기 상품</h2>

                        <table>
                            <tbody>
                            <th:block th:each="dto : ${list2}">
                                <tr>
                                    <td>
                                        <div class="thubmnail-recent">
                                            <img th:src="'/img/'+${dto.pd_img}" class="recent-thumb" alt="">
                                            <h2><a th:href="@{'/single/' + ${dto.id}}"><span th:text="${dto.pd_name}"></span></a></h2>
                                            <div class="product-sidebar-price">
                                                <ins th:text="'￦' + ${dto.kr_price}"></ins> <del th:text="'￦' + ${dto.pd_price}"></del>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
                
                <div class="col-md-8">
                    <div class="product-content-right">
                        <div class="woocommerce">


                            <form enctype="multipart/form-data" action="/soqqa" class="checkout" method="post" name="checkout">

                                <div id="customer_details" class="col2-set">
                                    <div class="col-1">
                                        <div class="woocommerce-billing-fields">
                                            <h3>기본 주소로 배송</h3>

                                            <p id="billing_last_name_field" class="form-row form-row-last validate-required">
                                                <label class="" for="billing_last_name">주문자 성함 <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="text" th:value="${user.getName()}" placeholder="" id="billing_last_name" name="billing_last_name" class="input-text" readonly>
                                            </p>
                                            <div class="clear"></div>

                                            <p id="billing_address_1_field" class="form-row form-row-wide address-field validate-required">
                                                <label class="" for="billing_address_1">주소 <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="text" th:value="${user.getAddressnum()}"  id="buyer_postcode" class="input-text " readonly>

                                                <input type="text" th:value="${user.getAddress()}"  id="billing_address_1" name="billing_address_1" class="input-text " readonly>

                                                <input type="text" th:value="${user.getDetail_address()}" id="addr_detail"  class="input-text " readonly>

                                            </p>


                                            <div class="clear"></div>

                                            <p id="billing_email_field" class="form-row form-row-first validate-required validate-email">
                                                <label class="" for="billing_email">이메일 주소 <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="text" th:value="${user.getEmail()}" id="billing_email" name="billing_email" class="input-text " readonly>
                                            </p>

                                            <p id="billing_phone_field" class="form-row form-row-last validate-required validate-phone">
                                                <label class="" for="billing_phone">전화번호 <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="text" th:value="${user.getPhone()}" id="billing_phone" name="billing_phone" class="input-text " readonly>
                                            </p>
                                            <div class="clear"></div>


                                        </div>
                                    </div>

                                    <div class="col-2">

                                        <div class="woocommerce-billing-fields">
                                            <h3>다른 주소로 받으시겠어요? <input type="checkbox" value="1" name="ship_to_different_address" class="input-checkbox" id="ship-to-different-address-checkbox" onchange="updateButtonFunction()"></h3>

                                            <p  class="form-row form-row-last validate-required">
                                                <label >주문자 성함 <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="text" id="different_name"  name="billing_last_name" class="input-text" >
                                            </p>
                                            <div class="clear"></div>

                                            <p  class="form-row form-row-wide address-field validate-required">
                                                <label class="" for="billing_address_1">주소 <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="text"  id="zip_code" name="zip_code" onclick="openZipSearch();" readonly="readonly" placeholder="우편번호" class="input-text ">
                                                <input type="text"  id="addr" name="addr" onclick="openZipSearch();" readonly="readonly" placeholder="기본주소"  class="input-text ">
                                                <input type="text"  id="addr_dtl" name="addr_dtl" placeholder="상세주소"  class="input-text">
                                            </p>


                                            <div class="clear"></div>

                                            <p  class="form-row form-row-first validate-required validate-email">
                                                <label class="" for="billing_email">이메일 주소 <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="text" id="different_email" name="billing_email" class="input-text " >
                                            </p>

                                            <p  class="form-row form-row-last validate-required validate-phone">
                                                <label class="" for="billing_phone">전화번호 <abbr title="required" class="required">*</abbr>
                                                </label>
                                                <input type="text" id="different_tel" oninput="hypenTel(this)" placeholder="하이픈 (-)은 자동으로 입력됩니다." maxlength="13"  name="billing_phone" class="input-text " >
                                            </p>
                                            <div class="clear"></div>

                                        </div>


                                </div>


                                </div>

                            </form>
                            <br>
                            <br>

                            <h3 id="order_review_heading">주문 내역</h3>



                            <table border="1"  style="border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; border: 1px solid #ddd;">
                                <tr style="background-color: #f4f4f4; height: 50px; " >
                                    <th colspan="2" style="text-align: center; font-size: 20px; color: black;">상품 정보</th>
                                    <th class="product-thumbnail" style="text-align: center; font-size: 20px; color: black;">가격</th>
                                    <th class="product-name" style="text-align: center; font-size: 20px; color: black; ">수량</th>
                                </tr>

                                <tr class="cart_item" th:each="cart:${list}" >

                                    <td class="product-thumbnail" style="text-align: center;">
                                        <a th:href="'/single/'+${cart.id}"><img width="145" height="145" alt="poster_1_up" class="shop_thumbnail" th:src="'/img/'+${cart.pd_img}"></a>
                                    </td>

                                    <td class="product-name" style="text-align: center;">
                                        <a th:href="'/single/'+${cart.id}"><span th:text="${cart.pd_name}" id="pd_name"></span></a>
                                    </td>

                                    <td class="product-price" style="text-align: center; font-size: 19px;">
                                        <span class="amount" th:text="'￦'+${cart.kr_price}"></span>
                                    </td>

                                    <td class="product-quantity" style="text-align: center;font-size: 19px;">
                                        <div class="quantity buttons_added">

                                            <span th:text="${cart.pd_count}+'개'"></span>
                                        </div>
                                    </td>

                                </tr>


                            </table>

                            <div class="cart_totals " style="text-align: right">

<br> <br>
                                <table cellspacing="0">
                                    <tbody>
                                    <tr class="cart-subtotal">
                                        <th>총 수량</th>
                                        <td><span class="amount" th:text="${totalCnt}+' 건'"></span></td>
                                    </tr>

                                    <tr class="shipping">
                                        <th>배송비</th>
                                        <td>무료 배송</td>
                                    </tr>

                                    <tr class="order-total">
                                        <th>결제 가격</th>
                                        <td><strong><span id="amount" class="amount" th:text="'￦'+${totalPrice2}" th:value="${totalPrice}"></span></strong> </td>
                                    </tr>

                                    </tbody>

                                </table>


                            </div>


                            <br>
                            <br>
                            <br>

                            <div id="payment">
                                <ul class="payment_methods methods">
                                    <li class="payment_method_cheque">
                                        <input type="radio" data-order_button_text="" value="cheque" name="payment_method" class="input-radio" id="payment_method_cheque" checked readonly>
                                        <label for="payment_method_cheque">카카오페이 &nbsp;&nbsp;&nbsp;  <img src="/img/카카오페이.png" alt="KakaoPay" width="150" height="60"></label>

                                    </li>
                                </ul>


                                <div class="clear"></div>

                            </div>

                            <button id="paymentButton" style="background: none repeat scroll 0 0 #1abc9c;
    border: medium none;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 7px 20px;
    text-transform: uppercase;
    border: 1px solid #1abc9c;">결제하기</button>



                        </div>                       
                    </div>                    
                </div>
            </div>
        </div>
    </div>


  <div class="footer-top-area">
      <div class="zigzag-bottom"></div>
      <div class="container">
          <div class="row">
              <div class="col-md-3 col-sm-6">
                  <div class="footer-about-us">
                      <h2>e<span>Electronics</span></h2>
                      <p>상호명 및 호스팅 서비스 제공 : Electronics <br>
                          대표이사 : 박선우 <br>
                          서울시 강북구 덕릉로 2222<br>
                          사업자 등록번호 : 111-1111-2222<br>
                          통신판매업신고 : 999-8882-2888</p>
                  </div>
              </div>

              <div class="col-md-3 col-sm-6">
                  <div class="footer-menu">
                      <h2 class="footer-wid-title">User Navigation </h2>
                      <ul>
                          <li><a href="/orderlist/1">Orderlist</a></li>
                          <li><a href="/userInfo">Mypage</a></li>
                          <li><a href="/cart">My Cart</a></li>
                          <li><a href="/main">Front page</a></li>
                          <li><a href="/checkout">Checkout</a></li>
                      </ul>
                  </div>
              </div>

              <div class="col-md-3 col-sm-6">
                  <div class="footer-menu">
                      <h2 class="footer-wid-title">Categories</h2>
                      <ul>
                          <li><a href="/category/Phone/1">Mobile Phone</a></li>
                          <li><a href="/category/Laptop/1">Laptop Pc</a></li>
                          <li><a href="/category/Tv/1">LED TV</a></li>
                          <li><a href="/category/Game/1">Game Device</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6">
                  <div class="footer-newsletter">
                      <h2 class="footer-wid-title">Newsletter</h2>
                      <p>뉴스레터를 구독하여 새로운 상품 혹은 할인 행사 소식을 받아보세요.</p>
                      <div class="newsletter-form">
                          <form action="/subcribe" method="post">
                              <input type="email" placeholder="소식을 받을 이메일을 입력해주세요." name="email" required>
                              <input type="submit" value="구독하기">
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> <!-- End footer top area -->

  <div class="footer-bottom-area">
      <div class="container">
          <div class="row">
              <div class="col-md-8">
                  <div class="copyright">
                      <p>&copy; 2015 eElectronics. All Rights Reserved. Coded with <i class="fa fa-heart"></i> by <a href="http://wpexpand.com" target="_blank">WP Expand</a> // 해당 페이지의 부트스트랩 템플릿에 구현된 코드입니다.  </p>
                  </div>
              </div>

          </div>
      </div>
  </div> <!-- End footer bottom area -->
   
    <!-- Latest jQuery form server -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    
    <!-- Bootstrap JS form CDN -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
    <!-- jQuery sticky menu -->
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    
    <!-- jQuery easing -->
    <script src="/js/jquery.easing.1.3.min.js"></script>
    
    <!-- Main Script -->
    <script src="/js/main.js"></script>
  </body>
</html>